/* -------------------- OVERALL ------------------- */

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  Font-Family: 'Source Sans Pro', Sans-Serif;
  margin: 0px;
}

.hidden {
  display: none!important;
}

button:hover {
  opacity: 0.8;
}

/* .wrapper {
  height: 100%;
} */

/* -------------------- LOGIN PAGE ------------------- */

img {
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  height: 50%;
  width: 30%;
  background: white;
  color: #c2a500;
  position: absolute;
  border-radius: 10px;
}

.login-details {
  text-align: center;
  padding-top: 15%;
  flex-direction: column;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
}

.user-login-inputs {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 17px;
  color: black;
}

.login-button {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  background: black;
  color: white;
  border-radius: 5px;
}

.login-error {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 13px;
}

/* -------------------- TOP NAVIGATION/WELCOME MESSAGE ------------------- */

header {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left: 2%;
  background: white;
  color: #c2a500;
  height: 20%;
  width: 97.58%;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
  border: 3px solid black;
}

.welcome-text {
  width: 100%;
  font-size: 200%;
  text-align: right;
  padding-right: 4.5%;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 38px;
}


/* -------------------- MAIN PAGE/OVERALL ------------------- */

.wrapper-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* -------------------- LEFT SIDE / FORM ------------------- */

.left-side {
  /* display: flex; */
  margin-left: 10px;
  width: 200%;
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  /* width: 900px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* height: 100%;
  width: 25%; */
}

.travel-form {
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  /* float: left; */
  grid-gap: 15px;
  /* width: 100%; */
  padding: 3% 0;
  border:1px solid black;
  margin-left: 7%;
  border-radius: 5px;
}

.travel-total {
  display: flex;
  flex-direction: column;
  float: left;
}

.departure-date, .duration, .total-travelers, .destination {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  width: 75%;

}

.quote-button, .submit-button {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  width: 60%;
}


/* -------------------- CARD GRID ------------------- */

.trips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* padding-left: 30%; */
}

.all-trips {
  display: flex;
  flex-direction: column;
  /* float: left; */
  /* grid-gap: 15px; */
  /* width: 69.7%; */
  /* height: 563px; */
  /* padding: 3% 0; */
  border:1px solid black;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6%;
  grid-row-gap: 7%;
  border: 1px solid red;
  /* height: 100%; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 40%; */
  width: 88%;
  border: 2px solid;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5%;
}

.card-image {
  width: 90%;
  height: 90%;
}
