/* -------------------- OVERALL ------------------- */

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  Font-Family: 'Source Sans Pro', Sans-Serif;
  margin: 0px;
}

.hidden {
  display: none!important;
}

button:hover {
  opacity: 0.8;
}

p {
  margin: 2px;
  text-align: center;
}

/* -------------------- LOGIN PAGE ------------------- */

img {
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  height: 50%;
  width: 30%;
  background: black;
  color: #c2a500;
  position: absolute;
  border-radius: 10px;
  filter: blur(0.4px);
    box-shadow:
    0px 20px 20px rgba(0,0,0,0.2),
    0px 5px 10px rgba(0,0,0,0.2),
    0px 70px 50px rgba(0,0,0,0.4),
    30px 50px 50px rgba(0,0,0,0.2),
    -30px 50px 50px rgba(0,0,0,0.2),
    inset 20px 0px 60px rgba(0,0,0,0.1),
    inset -20px 0px 60px rgba(0,0,0,0.1);
}

.login-details {
  text-align: center;
  padding-top: 15%;
  flex-direction: column;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
  margin-bottom: 5px;
}

.user-login-inputs {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 17px;
  color: #c2a500;
}

.login-button {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  background: white;
  color: black;
  border-radius: 5px;
  margin-top: 30px;
}

.login-error {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 13px;
}

/* -------------------- TOP NAVIGATION/WELCOME MESSAGE ------------------- */

header {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: #c2a500;
  height: 20%;
  width: 100%;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
  height: 115px;
}

.welcome-text {
  width: 100%;
  font-size: 200%;
  text-align: right;
  padding-right: 2%;
  padding-top: 2%;
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 38px;
  background: url(https://user-images.githubusercontent.com/88151743/157051319-18a97d3d-c0c6-427d-a451-6c6c72f39836.jpg);
  background-size: cover;
  margin: 0px;
}


/* -------------------- MAIN PAGE/OVERALL ------------------- */

.wrapper-main {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

/* -------------------- LEFT SIDE / FORM ------------------- */

h3 {
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 30px;
  color: #c2a500;
  text-align: center;
}

h4 {
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 20px;
  color: #c2a500;
  text-align: center;
}

.left-side {
  padding-left: 10px;
  width: 200%;
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  color: #c2a500;
  background: white;
  padding-top: 1%;
}

.book-trip {
  text-align: center;
  padding-left: 7%;
}

.travel-form {
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  margin-left: 10%;
  border-radius: 5px;
  background: black;
  padding: 15px;
  align-items: center;
  filter: blur(0.4px);
    box-shadow:
    0px 20px 20px rgba(0,0,0,0.2),
    0px 5px 10px rgba(0,0,0,0.2),
    0px 70px 50px rgba(0,0,0,0.4),
    30px 50px 50px rgba(0,0,0,0.2),
    -30px 50px 50px rgba(0,0,0,0.2),
    inset 20px 0px 60px rgba(0,0,0,0.1),
    inset -20px 0px 60px rgba(0,0,0,0.1);
}

.travel-total {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 20px;
}

.departure-date,
.duration,
.total-travelers,
.destination {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  width: 75%;
}

.quote-button,
.submit-button {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 15px;
  width: 60%;
}

/* -------------------- CARD GRID ------------------- */

.trips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.all-trips {
  display: flex;
  flex-direction: column;
  height: 77.8vh;
  padding-top: 1%;
  overflow-y: scroll;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 7%;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 170px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  border-radius: 5px;
  font-size: 15px;
  background: black;
  color: #c2a500;
  filter: blur(0.4px);
    box-shadow:
    0px 20px 20px rgba(0,0,0,0.2),
    0px 5px 10px rgba(0,0,0,0.2),
    0px 70px 50px rgba(0,0,0,0.4),
    30px 50px 50px rgba(0,0,0,0.2),
    -30px 50px 50px rgba(0,0,0,0.2),
    inset 20px 0px 60px rgba(0,0,0,0.1),
    inset -20px 0px 60px rgba(0,0,0,0.1);
}

.card-destination {
  margin: 15px;
}

.card-status,
.card-image,
.card-travelers,
.card-date,
.card-duration,
.card-lodging,
.card-flights {
  margin-bottom: 15px;
}

.card-image {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}
